@import url('normalize.css');

/* General Demo Style */
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}
a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	position: relative;
	width: 100%;
	padding: 20px 0 0;
}
.container > header{
	margin: 10px;
	padding: 30px 10px 10px 10px;
	position: relative;
	display: block;
    text-align: left;
	width: 28%;
	float: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-family: 'Pacifico', Cambria, Georgia, serif;
	font-weight: 300;
	color: #b8d6a6;
	padding-bottom: 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	width: 200px;
	line-height: 20px;
	color: #999;
	display: inline;
	clear: both;
	letter-spacing: 0px;	
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.container > header h2 strong{
	text-decoration: underline;
}
/* Header Style */
.top-bar{
	line-height: 24px;
	padding: 7px 0;
	height: 38px;
	font-size: 11px;
	z-index: 9999;
	background-color: #F7F7F7;
	background: url(../images/header_bg.png) 0 0 repeat-x;
	background: linear-gradient(white, #F7F6F5);
	box-shadow: 0 -1px 0 #FEFCFC inset,0 0 4px rgba(0, 0, 0, .15);
	position: relative;
	font-family: Cambria, Georgia, serif;
}
.top-bar a{
	padding: 0px 10px;
	letter-spacing: 0px;
	color: #333;
	display: inline-block;
}
.top-bar a.logo{
	font-family: 'Pacifico', Cambria, Georgia, serif;
	font-weight: 300;
	color: #b8d6a6;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	font-size: 16px;
}
.top-bar a:hover{
	background: rgba(255,255,255,0.3);
}
.top-bar .left{
	position: absolute;
	left: 10px;
	top: 7px;
}
.top-bar .right{
	position: absolute;
	right: 10px;
	top: 7px;
}
.top-bar .center{
	position: absolute;
	left: 50%;
	top: 7px;
	margin-left: -40px;
}
.top-bar .right a{
	float: left;
	display: block;
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions,
.no-generatedcontent .support-note span.no-generatedcontent{
	display: block;
}

/* Utils */
.clear:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clear {
	*zoom: 1;
}
.hide {
	display: none;
}

/* Component: Form */
form {
  margin-bottom: 18px;
}
form fieldset {
  margin-bottom: 18px;
  padding-top: 18px;
}
form fieldset legend {
  display: block;
  margin-left: 150px;
  font-size: 20px;
  line-height: 1;
  color: #404040;
}
form div.clearfix {
  margin-bottom: 18px;
}
form label,
form input,
form select,
form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
form label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040;
}
form div.input {
  margin-left: 150px;
}
form input[type=checkbox], form input[type=radio] {
  cursor: pointer;
}
form input[type=text],
form input[type=password],
form textarea,
form select,
form .uneditable-input {
  display: inline-block;
  width: 210px;
  margin: 0;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form select, form input[type=file] {
  height: 27px;
  line-height: 27px;
}
form textarea {
  height: auto;
}
form .uneditable-input {
  background-color: #eee;
  display: block;
  border-color: #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
form :-moz-placeholder {
  color: #bfbfbf;
}
form ::-webkit-input-placeholder {
  color: #bfbfbf;
}
form input[type=text],
form input[type=password],
form select,
form textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
form div.error {
  background: #fae5e3;
  padding: 10px 0;
  margin: -10px 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form div.error > label, form div.error span.help-inline, form div.error span.help-block {
  color: #9d261d;
}
form div.error input[type=text], form div.error input[type=password], form div.error textarea {
  border-color: #c87872;
  -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
}
form div.error input[type=text]:focus, form div.error input[type=password]:focus, form div.error textarea:focus {
  border-color: #b9554d;
  -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
}
form div.error div.input-prepend span.add-on, form div.error div.input-append span.add-on {
  background: #f4c8c5;
  border-color: #c87872;
  color: #b9554d;
}
form .input-mini,
form input.mini,
form textarea.mini,
form select.mini {
  width: 60px;
}
form .input-small,
form input.small,
form textarea.small,
form select.small {
  width: 90px;
}
form .input-medium,
form input.medium,
form textarea.medium,
form select.medium {
  width: 150px;
}
form .input-large,
form input.large,
form textarea.large,
form select.large {
  width: 210px;
}
form .input-xlarge,
form input.xlarge,
form textarea.xlarge,
form select.xlarge {
  width: 270px;
}
form .input-xxlarge,
form input.xxlarge,
form textarea.xxlarge,
form select.xxlarge {
  width: 530px;
}
form textarea.xxlarge {
  overflow-y: scroll;
}
form input[readonly]:focus, form textarea[readonly]:focus, form input.disabled {
  background: #f5f5f5;
  border-color: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.actions {
  background: #f5f5f5;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 17px 20px 18px 150px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
div.actions div.secondary-action {
  float: right;
}
div.actions div.secondary-action a {
  line-height: 30px;
}
div.actions div.secondary-action a:hover {
  text-decoration: underline;
}
.help-inline, .help-block {
  font-size: 12px;
  line-height: 18px;
  color: #bfbfbf;
}
.help-inline {
  padding-left: 5px;
}
.help-block {
  display: block;
  max-width: 600px;
}
div.inline-inputs {
  color: #808080;
}
div.inline-inputs span, div.inline-inputs input[type=text] {
  display: inline-block;
}
div.inline-inputs input.mini {
  width: 60px;
}
div.inline-inputs input.small {
  width: 90px;
}
div.inline-inputs span {
  padding: 0 2px 0 1px;
}
div.input-prepend input[type=text], div.input-append input[type=text] {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
div.input-prepend .add-on, div.input-append .add-on {
  background: #f5f5f5;
  float: left;
  display: block;
  width: auto;
  min-width: 16px;
  padding: 4px 4px 4px 5px;
  color: #bfbfbf;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  border-right-width: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
div.input-prepend .active, div.input-append .active {
  background: #a9dba9;
  border-color: #46a546;
}
div.input-append input[type=text] {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
div.input-append .add-on {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
  border-left-width: 0;
}
ul.inputs-list {
  margin: 0 0 5px;
  width: 100%;
}
ul.inputs-list li {
  display: block;
  padding: 0;
  width: 100%;
}
ul.inputs-list li label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  text-align: left;
  white-space: normal;
}
ul.inputs-list li label strong {
  color: #808080;
}
ul.inputs-list li label small {
  font-size: 12px;
  font-weight: normal;
}
ul.inputs-list li ul.inputs-list {
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top: 0;
}
ul.inputs-list li:first-child {
  padding-top: 5px;
}
ul.inputs-list input[type=radio], ul.inputs-list input[type=checkbox] {
  margin-bottom: 0;
}
form.form-stacked {
  padding-left: 20px;
}
form.form-stacked fieldset {
  padding-top: 9px;
}
form.form-stacked legend {
  margin-left: 0;
}
form.form-stacked label {
  display: block;
  float: none;
  width: auto;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0;
}
form.form-stacked div.clearfix {
  margin-bottom: 9px;
}
form.form-stacked div.clearfix div.input {
  margin-left: 0;
}
form.form-stacked ul.inputs-list {
  margin-bottom: 0;
}
form.form-stacked ul.inputs-list li {
  padding-top: 0;
}
form.form-stacked ul.inputs-list li label {
  font-weight: normal;
  padding-top: 0;
}
form.form-stacked div.actions {
  margin-left: -20px;
  padding-left: 20px;
}

.btn {
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, color-stop(0.25, #ffffff), #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, color-stop(#ffffff, 0.25), #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, color-stop(#ffffff, 0.25), #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, color-stop(#ffffff, 0.25), #e6e6e6);
  background-image: linear-gradient(#ffffff, color-stop(#ffffff, 0.25), #e6e6e6);
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333333;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333333;
  text-decoration: none;
}

.form-item {
	padding: 20px 0 0 130px;
}

.form-item .item-label {
	margin-left: -130px;
}

.form-item .item-explain {
	line-height: 24px;
	color: #888;
}

/* Component: Upload */
.j-filecontrol {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  vertical-align: middle;
}

.j-explain {
  color: red;
  line-height: 24px;file
}


@media screen and (max-width: 790px) {
	.container > header h1{
		font-size: 26px;
		line-height: 26px;
	}
}

@media screen and (max-width: 650px) {
	body{
		overflow: auto;
	}
	.container > header{
		text-align: center;
		width: auto;
		float: none;
	}
}