html{
  margin:0;padding:0;border:0
}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
code,b,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,
footer,header,hgroup,nav,section{
  margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline
}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{
  display:block
}
body{
  line-height:1.5;background:white
}
table{
  border-collapse:separate;border-spacing:0
}
caption,th,td{
  text-align:left;font-weight:normal;float:none!important
}
table,th,td{
  vertical-align:middle
}
blockquote:before,blockquote:after,q:before,q:after{
  content:''
}
blockquote,q{
  quotes:""""
}
a img{
  border:0
}
:focus{
  outline:0
}

a {
  text-decoration: none;
}

#content {
  background-color: #FFFFFF;
  cursor: pointer;
}

.template {
  background-color: #FFFFFF;
  border-left: 1px solid #DCDCDC;
  float: left;
  font-size: 0;
}

.template:first-child {
  border-left: 0 none;
}

.template > div {
  display: inline-block;
  padding: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.bt {
    border-top: 1px solid #DCDCDC;
}

.bb {
    border-bottom: 1px solid #DCDCDC;
}

.bl {
    border-left: 1px solid #DCDCDC;
}

.br {
    border-right: 1px solid #DCDCDC;
}

.tile {
  background-color: white;
  margin: 0;
  position: relative;
}

.tile {
  background-color: #FAFAFA;
  cursor: pointer;
  overflow: hidden;
}

.tile > a {
  display: block;
  height: 100%;
  width: 100%;
}

.tile img {
  position: absolute;
}

.tile .date {
  background-color: transparent;
  color: #FFFFFF;
  font: 12px arial,'宋体',sans-serif;
  height: 30px;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 90px;
  z-index: 2;
}

.alpha_bg {
  -moz-transition: opacity 0.5s ease-in-out 0s;
  background-color: #000000;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.tile .date span {
  display: inline-block;
  line-height: 30px;
  opacity: 0;
  width: auto;
}

.description {
  bottom: 0;
  color: #010101;
  font-family: 'Microsoft Yahei','微软雅黑',Tahoma,Arial,Helvetica,STHeiti;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  line-height: 36px;
  min-height: 36px;
  position: absolute;
  vertical-align: top;
  width: 100%;
  z-index: 2;
}

.description .bg {
  background-color: #000000;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.label {
  color: #878585;
  font-size: 14px;
  padding: 0 5px 0 3px;
}

.description .label {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Microsoft Yahei','微软雅黑',Tahoma,Arial,Helvetica,STHeiti;
  font-size: 16px;
  height: auto;
  line-height: 26px;
  margin: 4px 10px;
  min-height: 26px;
  overflow: visible;
  width: auto;
  word-wrap: break-word;
}